@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*body {
    background: #43cea2;
    background: -webkit-linear-gradient(to left, #43cea2 , #185a9d);
    background: linear-gradient(to left, #43cea2 , #185a9d);
}*/